@use "../utils";

.twui-angle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .left-container {
    flex: 1;
  }

  .right-container {
    flex: none;
    display: grid;
    grid-template-columns: max-content max-content;

    .twui-checkbox {
      grid-column: span 2;
      input {
        margin-left: 0;
      }
    }
  }

  label {
    text-align: right;
    line-height: var(--twui-input-height);
    padding: 0 var(--twui-label-pad-x);
  }
  input[type=number] {
    width: 3.5rem;
  }

  .pane {
    position: relative;
    width: 100%;
    padding-top: 100%;
    &::before {
      position: absolute;
      content: '';
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      left: 1rem;
      top: 1rem;
      border: 1px solid;
      border-radius: 50%;
      border-color: utils.color(primary-light);
      box-sizing: border-box;
      background-image: conic-gradient(utils.color(primary-light) var(--angle-percent), transparent 0);
      transform: scaleX(-1) rotate(180deg);
    }
  }

  .angle-knob {
    border: 0px solid transparent;
    border-radius: 100%;
    background-color: utils.color(primary-light);

    &:hover {
      background-color: utils.color(secondary-light);
    }
  }
  .angle-pane.is-dragging .angle-knob {
    background-color: utils.color(accent);
  }
}
