.twui-checkbox {
  min-height: var(--twui-size);
  line-height: var(--twui-size);
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  > span {
    margin-left: auto;
    display: inline-flex;
    gap: var(--twui-gap);
  }

  input {
    width: calc(var(--twui-size) * 2);
    height: calc(var(--twui-size));
    padding: 2px;
    border-radius: var(--twui-size);
    border: 2px solid var(--twui-color-base-100);
    background-color: var(--twui-color-base-100);

    cursor: pointer;
    appearance: none;
    vertical-align: middle;
    webkit-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    flex-shrink: 0;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    display: inline-grid;
    margin: 0;
  }

  input:checked {
    border-color: var(--twui-color-base-content);
  }
  input:focus {
    border-color: var(--twui-color-accent);
  }
  input:before {
    aspect-ratio: 1;
    border-radius: 100%;
    content: '';
    background-color: var(--twui-color-base-content);
    grid-row-start: 1;
    grid-column-start: 1;
    transition:
      background-color 0.1s,
      translate 0.2s;
    translate: 0;
    opacity: 0.25;
  }
  input:checked:before {
    translate: 100%;
    opacity: 1;
  }
}
