@use "../utils";

.twui-checkbox {
  min-height: calc(var(--twui-size) - 2 * var(--twui-gap));
  line-height: calc(var(--twui-size) - 2 * var(--twui-gap));
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: utils.color(secondary);
  }

  input {
    margin-right: 1ch;
    margin-left: 1ch;
  }
}
