.twui-control {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: var(--twui-gap);
}
.twui-control-label {
  min-height: var(--twui-size);
  padding: 0 calc(var(--twui-size) / 4);
  display: inline-flex;
  align-items: center;
}
.twui-control-description {
  font-size: 80%;
  font-style: italic;
  color: var(--twui-color-base-content);
  padding: 0 0.5rem 0.25rem;
  opacity: 0.75;
}
