@use "../utils";

.twui-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  border-color: utils.color(primary-dark);
}

.twui-group-title {
  margin: 0;
  width: auto;
  height: var(--twui-size);
  line-height: var(--twui-size);
  background-color: utils.color(primary-dark);
  padding-left: calc(2 * var(--twui-gap));
  font-weight: bold;;
}

.twui-group-collapsible .twui-group-title {
  padding-left: 0;
  cursor: pointer;
}

.twui-group-collapsible > .twui-group-title::before {
  content: '🗁';
  display: inline-block;
  width: var(--twui-size);
  height: var(--twui-size);
  text-align: center;
  transition: transform 0.1s ease-in-out;
}

.twui-group-inset,
.twui-group-collapsible > .twui-group-collapsible {
  border-left: 0.25rem solid;
  border-left-color: utils.color(primary-light);
}

.twui-group-collapsed > .twui-group-title::before {
  content: '🗀';
}

.twui-group-control {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  min-height: var(--twui-size);
  box-sizing: border-box;

  > label:first-child {
    flex: none;
    box-sizing: border-box;
    width: calc(var(--twui-label-width) - 2 * var(--twui-label-pad-x));
    min-width: calc(var(--twui-label-width) - 2 * var(--twui-label-pad-x));
    min-height: calc(var(--twui-size) - 2 * var(--twui-gap));
    line-height: calc(var(--twui-size) - 2 * var(--twui-gap));
    padding: var(--twui-label-pad-y) var(--twui-label-pad-x);
    margin: var(--twui-gap);

    overflow: hidden;
  }

  > section {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }
}
