@use "../utils";

.twui-number,
.twui-slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.twui-number input {
  flex: 1;
}

.twui-slider {
  .twui-progress {
    flex: 1;
    display: flex;
    margin: var(--twui-gap);
    cursor: ew-resize;
    transition: background-color 0.2s ease-in-out;

    background-color: utils.color(secondary);
    &:hover {
      background-color: utils.color(secondary-dark);
    }
  }

  .twui-progress.disabled {
    cursor: not-allowed;
  }

  .twui-progress-bar {
    background-color: utils.color(secondary-light);
  }

  input[type="number"] {
    flex: none;
    width: 3.5rem;
  }
}
