.twui-number {
  display: flex;
  gap: var(--twui-gap);

  input {
    min-width: 0;
  }
  input[type='range'] {
    flex: 1;
    margin: 0;
    accent-color: var(--twui-color-base-content);
    height: var(--twui-size);
  }

  input[type='number'] {
    text-align: right;
    width: 100%;
  }
  input[type='range'] + input[type='number'] {
    width: 5rem;
    flex: none;
  }
}
