@use "../utils";


.twui-point {
  background-color: utils.color(secondary);
  border-color: utils.color(primary-dark);
  background-image:
    linear-gradient(utils.color(primary-light) 1px, transparent 1px),
    linear-gradient(90deg, utils.color(primary-light) 1px, transparent 1px);
  background-size: 10% 10%, 10% 10%;
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  position: relative;
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  cursor: crosshair;
  z-index: 1;
  // border-bottom: 1px solid;
  overflow: visible;

  .point-x-axis,
  .point-y-axis {
    background-color: utils.color(primary-dark);
  }

  &:focus {
    .point-x-axis,
    .point-y-axis {
      background-color: utils.color(accent);
    }
    border-color: utils.color(accent);
    outline: none;
  }
}
