@use "../utils";


.twui-tabs {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  border-color: utils.color(primary-dark);
}

.twui-tabs-list {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}

.twui-tabs-list > button {
  flex: auto 1 11;
  border: 0;
  border-top: 1px solid;
  margin: 0;

  height: var(--twui-size);
  line-height: calc(var(--twui-size) - 2 * var(--twui-button-pad-y)) ;

  background-color: utils.color(primary-dark);
  border-color: utils.color(primary);
  color: utils.color(on-primary);

  &:hover {
    background-color: utils.color(primary);
    border-color: utils.color(primary-dark);
  }

  &.is-active {
    background-color: utils.color(primary);
    border-color: utils.color(accent);
  }
}
