.twk-angle-label {
  height: var(--twk-size);
  white-space: nowrap;
  text-align: right;
}

.twk-angle-input {
  display: grid;
  grid-template-areas:
    'display input'
    'display output';

  grid-template-columns: min-content auto;
  grid-template-rows: auto min-content;
  gap: var(--twk-gap);
  column-gap: calc(var(--twk-gap) * 2);

  .twk-scalar-input {
    grid-area: input;
  }
  .twk-angle-label {
    grid-area: output;
  }
}

.twk-angle-pane {
  grid-area: display;
  width: 100%;
  width: var(--twk-size);
  height: var(--twk-size);
  outline: 1px solid var(--twk-color-base-content);
  outline-offset: -1px;
  border-radius: 50%;

  background-image: conic-gradient(
    from 0deg,
    var(--twk-color-base-content) calc(var(--angle-value) / 360 * 100%),
    transparent 0
  );
}

// .twk-angle-knob {
//   width: 1rem;
//   height: 1rem;
//   border-radius: 50%;
//   background-color: var(--twk-color-base-content);
//   user-select: none;
//   box-shadow: 0 0 3px var(--twk-color-neutral);
// }
// .twk-angle-knob:focus {
//   outline: 2px solid var(--twk-color-accent);
//   outline-offset: 2px;
// }
