.twk-color-input {
  flex: auto 1 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--twk-gap);

  button.twk-btn {
    flex: 1;
    display: flex;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    padding-left: 0;

    &::before {
      content: '';
      display: inline-block;
      width: calc(var(--twk-size));
      height: calc(var(--twk-size));
      flex: none;
      background-color: var(--twk-color-value);
      border-radius: var(--twk-radius);
    }
  }
}
