.twk-divider {
  display: flex;
  align-items: center;
  padding: 0 calc(var(--twk-size) / 2);
  &:not(:empty) {
    gap: calc(var(--twk-size) / 2);
  }
  height: var(--twk-size);
}
.twk-divider::before,
.twk-divider::after {
  content: '';
  background-color: currentColor;
  opacity: 0.125;
  flex-grow: 1;
  width: 100%;
  height: 1px;
}

.twk-divider-v {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &:not(:empty) {
    gap: calc(var(--twk-size) / 2);
  }
  width: var(--twk-size);
  height: 100%;
}
.twk-divider-v::before,
.twk-divider-v::after {
  content: '';
  background-color: currentColor;
  opacity: 0.125;
  flex-grow: 1;
  height: 100%;
  width: 1px;
}
