.twui-group {
  display: flex;
  flex-direction: column;
  gap: var(--twui-gap);
}

.twui-group-content {
  display: flex;
  flex-direction: column;
  gap: var(--twui-gap);
}

.twui-group-content.animate.enter {
  animation: twui-group-content-enter 0.25s ease-out forwards;
  overflow: hidden;
}
.twui-group-content.leave {
  animation: twui-group-content-leave 0.25s ease-out forwards;
  overflow: hidden;
}

@keyframes twui-group-content-enter {
  0% {
    height: 0;
    opacity: 0;
  }

  50% {
    height: auto;
    opacity: 0;
  }

  100% {
    height: auto;
    opacity: 1;
  }
}

@keyframes twui-group-content-leave {
  0% {
    height: auto;
    opacity: 1;
  }

  50% {
    height: auto;
    opacity: 0;
  }

  100% {
    height: 0;
    opacity: 0;
  }
}

.twui-group-title {
  width: auto;
  margin: 0;
  height: var(--twui-size);
  background-color: var(--twui-color-neutral);
  color: var(--twui-color-neutral-content);
  font-weight: bold;
  border-radius: var(--twui-radius, 0);
  padding: 0 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.twui-group-collapsible > .twui-group-title {
  padding-left: 0;
  cursor: pointer;
  user-select: none;
}

.twui-group-collapsible > .twui-group-title::before {
  content: '';
  display: block;
  width: var(--twui-size);
  height: var(--twui-size);
  text-align: center;
  transition:
    opacity 0.2s ease-in-out,
    transform 0.2s ease-in-out;
  transform: scale(0.5) rotate(0deg);
  background-color: currentColor;
  clip-path: polygon(
    50.05% 77.08%,
    83.58% 43.55%,
    87.11% 40.02%,
    80.03% 32.94%,
    76.5% 36.47%,
    50.03% 62.94%,
    23.56% 36.47%,
    20.03% 32.94%,
    12.95% 40.02%,
    16.48% 43.55%,
    46.48% 73.55%,
    50.02% 77.08%
  );
}

.twui-group-collapsed > .twui-group-title::before {
  transform: scale(0.5) rotate(-90deg);
}

.twui-group:not(.twui-root > .twui-group) .twui-group {
  margin-left: calc(var(--twui-size) / 4);
}

.twui-group-description {
  line-height: 1;
  font-style: italic;
  opacity: 0.75;
  padding: 0.25rem 0.25rem 0.5rem 0;
}
