.twui-image {
  max-width: 100%;
  display: block;
  img {
    width: 100%;
  }
}

.twui-image-aspect {
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 100%;
    padding-top: var(--twui-aspect);
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-fit: var(--twui-fit);
  }
}
