.twk-point .point-area {
  align-self: end;
  background-color: var(--twk-color-base-100);
  border-color: var(--twk-color-base-300);
  background-image:
    linear-gradient(var(--twk-color-base-200) 1px, transparent 1px),
    linear-gradient(90deg, var(--twk-color-base-200) 1px, transparent 1px);
  background-size:
    10% 10%,
    10% 10%;
  transition:
    border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  aspect-ratio: 1;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  cursor: crosshair;
  z-index: 1;
  overflow: visible;

  .point-x-axis,
  .point-y-axis {
    background-color: var(--twk-color-base-300);
  }

  &:focus {
    .point-x-axis,
    .point-y-axis {
      background-color: var(--twk-color-accent);
    }
    border-color: var(--twk-color-accent);
    outline: none;
  }
}
