.twk-section {
  display: grid;
  grid-template:
    'header' auto
    'content' 1fr
    'footer' auto
    / 100%;
  width: 100%;
}
.twk-section > * {
  grid-area: content;
}
.twk-section-header,
header {
  grid-area: header;
}
.twk-section-content {
  grid-area: content;
}
.twk-section-footer,
footer {
  grid-area: footer;
}

.twk-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 'start content end';
  gap: var(--twk-gap);
  align-items: center;
  min-height: var(--twk-size);
}
.twk-bar > * {
  grid-area: content;
}
.twk-bar-start {
  grid-area: start;
}
.twk-bar-content {
  grid-area: content;
}
.twk-bar-end {
  grid-area: end;
}
