.twui-vector-grid {
  display: grid;
  gap: var(--twui-gap);
}
.twui-vector-field {
  position: relative;
}

.twui-vector-field > span {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  padding: 0 4px;
  display: flex;
  align-items: center;
  background-color: var(--twui-color-base-300);
  border-top-left-radius: var(--twui-radius);
  border-bottom-left-radius: var(--twui-radius);
  line-height: 1;
}
